@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
}

h1{
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}

h2{
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

a:hover {
    opacity: 0.7;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-radius: 50px;
}


.logo {
    font-size: 24px;
    color: white;
    display: block;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}


.main{
    background-color: rgba(255,161,43,255);
    height: 1000px;
    width: 100%;
}


.nav-list {
    margin-top: 50px;
    list-style: none;
    display: flex;
}


.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    font-weight: 400;
}


.form-register {
    width: 400px;
    background: #23232e;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  
  .form-register h4 {
      color: #ffb3b3;
    font-size: 22px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
  }
  
  
  .controls {
    width: 100%;
    background: #000000;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #a8a8a8;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }
  
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  
  .form-register .botons {
    width: 100%;
    cursor: pointer;
    background: rgb(29, 29, 29);
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #a8a8a8;
    margin: 16px 0;
    font-size: 16px;
  }


  .voltar{
    cursor: pointer;
    background: rgb(29, 29, 29);
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #a8a8a8;
    margin: 16px 0;
    font-size: 16px;
    width: 300px;
}


.form-register {
    width: 400px;
    background: rgb(29, 29, 29);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  
  .form-register h4 {
      color: #a8a8a8;
    font-size: 22px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
  }
  
  
  .controls {
    width: 85%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #a8a8a8;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  
  .form-register .botons {
    width: 100%;
    cursor: pointer;
    background: #ffffff;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: #a8a8a8;
    margin: 16px 0;
    font-size: 16px;
  }

  
  .listar{
    width: 800px;
    background: rgb(29, 29, 29);
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #ffffff;
    box-shadow: 7px 13px 37px #000;
  }

  
  .space{
    margin-bottom: 15px;
  }